body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blueviolet;
}
.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.counter {
    display: flex;
    align-items: center;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#decremenbutton#decrementBtnt{
    margin-right: 10px;
}

button#incrementBtn {
    margin-left: 10px;
}

span {
    font-size: 24px;
}